
<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <h3 style="display:block"></h3>

    <div class="table-responsive ">
      <table class="table table-bordered">
        <thead>
        <tr>

          <th class="text-center">Currency abbreviation</th>
          <th class="text-center">Currency Scale</th>
          <th class="text-center">Currency official rate</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of dataForOutput">

          <td class="text-center">{{p.Cur_Abbreviation}}</td>
          <td class="text-center">{{p.Cur_Scale}}</td>
          <td class="text-center">{{p.Cur_OfficialRate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary justify-content-center" (click)="submit()">Отправить</button>
  </div>
</div>


Exchange rates
